* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Oswald', sans-serif;
}

.main {
  position: relative;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 90px;
  padding: 30px 0 30px 0;
  width: 80%;
  min-height: 700px;
  background-color: grey;
  border-radius: 50px;
  font-weight: 400;
}

.main .main_header {
  text-align: center;
}

.wrapper {
  width: 300px;
  margin: 0 auto;
  margin-top: 30px;
}

.main .main_input {
  font-size: 17px;
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: none;
  padding: 15px;
}

.main .main_btn {
  font-family: 'Oswald', sans-serif;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 10px;
  border: none;
  min-width: 170px;
  height: 40px;
  cursor: pointer;
  transition: all 0.4s;
  font-weight: 400;
  font-size: 15px;
}

.propertyEdit {
  position: absolute;
  top: 230px;
  left: 370px;
  font-family: 'Oswald', sans-serif;
  border-radius: 10px;
  border: none;
  min-width: 170px;
  height: 40px;
  cursor: pointer;
  transition: all 0.4s;
  font-weight: 400;
  font-size: 15px;
}

.main .main_btn:hover {
  background-color: rgb(172, 172, 172);
  transition: all 0.4s;
}

.main .wrap {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.main .main_active,
.main .main_completed {
  position: relative;
  width: 500px;
  min-height: 360px;
  border: 3px solid rgb(199, 193, 193);
  border-radius: 25px;
}

.main .main_active img {
  position: absolute;
  width: 90px;
  height: 25px;
  top: 20px;
  left: 120px;
}

.main .main_completed img {
  position: absolute;
  top: 20px;
  left: 133px;
}

.main .main_subtitle {
  color: rgb(24, 23, 23);
  margin-top: 15px;
  text-align: center;
  font-weight: 300;
  font-size: 22px;
}


.main .active_task-list,
.main .completed_task-list {
  margin: 15px 0 0 30px;
}

.main .active_task-list .list_item,
.main .completed_task-list .list_item {
  list-style-type: none;
  ;
  width: 450px;
  margin-bottom: 10px;
  padding: 5px 0 5px 10px;
  font-weight: 300;
  font-size: 18px;
}

.main .active_task-list .list_item:hover,
.main .completed_task-list .list_item:hover {
  background-color: rgb(211, 205, 205);
  border-radius: 10px;
}

.main .main_active .active_task-list .list_item button {
  padding-top: 15px;
  background-color: grey;
  margin-right: 15px;
  position: relative;
  opacity: 0;
  border: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.main .main_active .active_task-list .list_item button:nth-child(1) {
  margin-left: 200px;
}

.main .main_active .active_task-list .list_item button img {
  width: 100%;
  height: 100%;
}

.main .main_active .active_task-list .list_item .btn_img {
  top: 0;
  left: 0;
}

.main .main_active .active_task-list .list_item:hover button {
  background-color: rgb(211, 205, 205);
  opacity: 1;
}

/* ////////////////////////////////////////////// */

.main .main_completed .completed_task-list .list_item button {
  padding-top: 15px;
  background-color: grey;
  margin-right: 15px;
  position: relative;
  opacity: 0;
  border: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.main .main_completed .completed_task-list .list_item button:nth-child(1) {
  margin-left: 200px;
}

.main .main_completed .completed_task-list .list_item button img {
  width: 100%;
  height: 100%;
}

.main .main_completed .completed_task-list .list_item .btn_img {
  top: 0;
  left: 0;
}

.main .main_completed .completed_task-list .list_item:hover button {
  background-color: rgb(211, 205, 205);
  opacity: 1;
}

.main .main_completed .completed_task-list .list_item button:nth-child(2) {
  cursor: default;
}

.locationInput {
  position: absolute;
  top: 250px;
  left: 60px;
}
.none {
  display: none;
}